<div class="form-container">
  <h2 class="form-title">游닇 Crear Cuenta</h2>
  
  <% if @user.errors.any? %>
    <div class="form-errors">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_with model: @user, url: register_path, method: :post, local: true do |f| %>
    <div class="form-group">
      <label class="form-label">游녻 Nombre completo</label>
      <%= f.text_field :name, class: "form-control", placeholder: "Tu nombre", required: true %>
    </div>
    
    <div class="form-group">
      <label class="form-label">游닎 Email</label>
      <%= f.email_field :email, class: "form-control", placeholder: "tu@email.com", required: true %>
    </div>
    
    <div class="form-group">
      <label class="form-label">游 Contrase침a</label>
      <%= f.password_field :password, class: "form-control", placeholder: "M칤nimo 6 caracteres", required: true %>
    </div>
    
    <div class="form-group">
      <label class="form-label">游 Confirmar contrase침a</label>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Repite tu contrase침a", required: true %>
    </div>
    
    <div class="form-actions">
      <%= f.submit "Crear cuenta", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
  
  <p class="text-center mt-3">
    쯏a tienes cuenta? <a href="<%= login_path %>">Inicia sesi칩n</a>
  </p>
</div>
