<div id="<%= dom_id order %>">
  <div>
    <strong>Order number:</strong>
    <%= order.order_number %>
  </div>

  <div>
    <strong>User:</strong>
    <%= order.user_id %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= order.address_id %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= order.status %>
  </div>

  <div>
    <strong>Total:</strong>
    <%= order.total %>
  </div>

</div>
