<div id="<%= dom_id address %>">
  <div>
    <strong>User:</strong>
    <%= address.user_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= address.name %>
  </div>

  <div>
    <strong>Street:</strong>
    <%= address.street %>
  </div>

  <div>
    <strong>City:</strong>
    <%= address.city %>
  </div>

  <div>
    <strong>District:</strong>
    <%= address.district %>
  </div>

</div>
