<div id="<%= dom_id batch %>">
  <div>
    <strong>Product:</strong>
    <%= batch.product_id %>
  </div>

  <div>
    <strong>Batch number:</strong>
    <%= batch.batch_number %>
  </div>

  <div>
    <strong>Expiration date:</strong>
    <%= batch.expiration_date %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= batch.quantity %>
  </div>

</div>
